[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "4.2.1"
psycopg2-binary = "2.8.6"
ipython = "*"
djangorestframework = "*"
beautifulsoup4 = "*"
lxml = "*"
requests = "*"
django-cors-headers = "*"
djangorestframework-simplejwt = "*"
drf-yasg = "*"

[requires]
python_version = "3.10"

[dev-packages]
