<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>[Book Over There] Password Reset E-mail </title>
</head>
<body>
    <h1>Password Reset</h1>
    <p>Dear User,</p>
    <p>We have received a request to reset your password. To proceed with the password reset, please click the link below:</p>
    <p><a href="{{ reset_url }}">{{ reset_url }}</a></p>
    <p>If you did not request a password reset, please ignore this email.</p>
    <p>Thank you,</p>
    <p>Book Over There Team</p>
</body>
</html>
